name : Deploy NodeJS  Application to EC2 instance

on:
  push:
    branch:
      -main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/ec2.pem
          chmod 600 ~/.ssh/ec2.pem
          ssh-keyscan -H ${{ secrets.SHH_HOST }} >> ~/.ssh/known_hosts

      - name: Test SSH
        run: |
          ssh -i ~/.ssh/ec2.pem ubuntu@${{ secrets.EC2_HOST }} "echo SSH CONNECTED && hostname"
          script:
            cd /home/ubuntu/raj/gitactions-try
            git pull
            docker compose up -d --build